html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%; /* Pastikan #root atau container utama memiliki tinggi penuh */
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1300ms;
  transition-duration: 1300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1300ms;
  transition-duration: 1300ms;
}
